.listContainer {
  background-color: #212121;  

}
/* .container--tabheader {
  position: fixed;
  top: 80px;
  z-index: 1;
  width: 100%;
} */

.listItem :global(.vtex-button__label) {
  font-family: 'Montserrat';
  color: #fff;
  font-size: .9rem;
}
.listItemActive :global(.vtex-button__label){
  background-color: transparent;
  color: #59fd00;

}
.listItemActive :global(.vtex-button){
  background-color: #212121;
  border-color: #212121;
  border-bottom: thin solid #59fd00;
  }
  
.listItem :global(.vtex-button):hover{
  background-color: #212121;
}