.wrapper--hc-text-1 {
  color: #000;
  background-color: #14ff00;
  width: 100%;
}
.paragraph--hc-text-1 {
margin: 2px 0 2px 0;
text-align: center;
} 
.wrapper--hc-text-2 {
  color: #14ff00;
  background-color: #000;
  width: 100%;
}
.paragraph--hc-text-2 {
margin: 2px 0 2px 0;
text-align: center;
} 
.container--layout-option {
  margin-left: 0.3em;
}

.paragraph--summarySpecificationBullet {
  margin: 0;
  line-height: initial;
  font-size: 1.25rem;
  line-height: 1.15rem;
}
.container--txt-trigger {
  color: #14ff00;
  height: 35px;
}
.paragraph--icontext {
  padding: 0 55px;
  color: #fff;
  margin: auto;
  font-family: "Montserrat";
  font-size: .9rem;
}
.wrapper--icontext {
  background-color: #424242;
}
